img {
  width: 100%;
}

.container {
  max-width: 95% !important;
}

.landing {
  position: relative;
  background: url('./img/golden-gate-bridge.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/* Explore bar Styles */

.explore-bar {
  text-align: center;
  max-width: 100% !important;
}



/* pin card */

.pin-card-styles {
  position: relative;
  width: 100%;
  height: 22rem;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pin-card-styles:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  box-shadow: 4px 6px 3px #C7C7C7;
}

.pin-card-link {
  position: relative;
  width: 48%;
}

@media only screen and (max-width: 780px) {
  .pin-card-link {
    position: relative;
    width: 100%;
  }
}

.pin-card-footer {
  position: relative;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.link-card-styles {
  position: relative;
  background: url('./img/golden-gate-bridge.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration: none !important;
  color: #212529;
}

.link-card-styles:hover {
  text-decoration: none;
  color: #212529;
}

/*Search bar styles */

.search-results {
  position: absolute;
  top: 45px;
  width: 300px;
  z-index: 1;
}

.search-bar {
  width: 300px;
}

.search-results-item-link {
  text-decoration: none !important;
}

.search-results-item-link:hover {
  text-decoration: none !important;
}

@media only screen and (max-width: 709px) {
  .search-bar {
    width: 200px;
  }

  .search-results {
    width: 200px;
  }
}

/* Gallery Styles */

.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery-pin-card {
  position: relative;
  width: 24%;
}

@media only screen and (max-width: 919px) {
  .gallery-pin-card {
    position: relative;
    width: 32%;
  }
}

@media only screen and (max-width: 709px) {
  .gallery-pin-card {
    position: relative;
    width: 48%;
  }
}

@media only screen and (max-width: 500px) {
  .gallery-pin-card {
    position: relative;
    width: 100%;
  }
}
