img {
  width: 100%;
}

.container {
  max-width: 95% !important;
}

/* feed items */

.post-link {
  text-decoration: none;
  color: #212529;
}

.post-link:hover {
  color: #212529;
}


/* post  */

/* .post-text-card {
  border: 1px solid grey;
} */
